@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hristo G. Danov's Warehouse!</h1>

    <h3>Here you can add, delete, edit, search and browse products!</h3>
</div>

<div class="text-center">
    <div class="row">
        <img src="~/warehouse.jpg"  />
    </div>
</div>
